body,html {
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.heading{
    height: 8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingComp{
    height: 3rem;
    background-color: white;
    width: 90%;
    display: flex;
}

.titleAndLinks{
    flex: 11;
    background-color: white;
    display: flex;
    gap: 2.5rem;
}

.logos{
    flex: 1;
    display: flex;
    align-items: center;
}

.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > p {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.links{
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.store2{
    border-bottom: 1.5px solid black;
}

.linksNav{
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

a{
    text-decoration: none;
    color: black;
}

.logosComp{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15%;
}

ion-icon{
    font-size: 1.3rem;
}

.mainContent{
    height: 195%;
    display: flex;
    justify-content: space-around;
}

.mainContentComp{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12rem 36rem 36rem;
}

.mainContentComp > .text{
    border-bottom: .5px solid black;
}

.comp{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.text{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
}

.footer{
    height: 30%;
    display: flex;
    align-items: center;
}

.weapon > a > div{
    border-radius: 1rem;
    -webkit-transition: border-radius .2s;
}

.weapon > a > div:hover{
    height: 105%;
    width: 105%;
    -webkit-transition: border-radius 0.3s;
}

.weapon > a{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.weapon > a:hover{
    border-radius: 1rem;
}

.footerComp{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.footerComp > .email, .phone, .credits{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.footerComp > .credits > span{
    border-bottom: 1.5px solid black;
}

.image{
    flex: 4;
}

.price{
    flex: 1;
}

.weapon > a{
    height: 100%;
    width: 100%;
}

.chokuto{
    background: url(images/chokuto.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.wakizashi{
    background: url(images/Wakizashi.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.katana{
    background: url(images/katana.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.tanto{
    background: url(images/tanto.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.shuriken{
    background: url(images/shuriken.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.kusariGama{
    background: url(images/kusariGama.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.price > p{
    font-size: 1.2rem;
}